name: CI

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 24.13.1
        uses: actions/setup-node@v4
        with:
          node-version: 24.13.1
          cache: 'npm'
      - name: Write commit SHA to package.jsons version field
        run: |
          node -e "const fs = require('node:fs'); \
            const raw = fs.readFileSync(\"./package.json\"); \
            const parsed = JSON.parse(raw); \
            parsed[\"version\"] = parsed[\"version\"] + \" - $GITHUB_SHA\"; \
            fs.writeFileSync(\"./package.json\", JSON.stringify(parsed, null, 2));"
      - name: Installing Dependencies
        run: npm ci
      - name: Building
        run: npm run build --if-present
      - name: Package App
        run: npm run package
      - name: Install ffmpeg
        run: sudo apt install ffmpeg
      - name: Smoke Test
        run: ./bin/orfondownloader-linux --ffmpegPath /usr/bin/ffmpeg --useFFMPEGPipes -o ottoWalkesZIB.mp4 -o budSpencerZIB.mp4 https://on.orf.at/video/7982416/otto-waalkes-in-wien https://on.orf.at/video/13113850/bud-spencer-und-terence-hill-ueber-ihre-karrieren
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./bin/orfondownloader*
